.center-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.language-button {
  position: absolute; /* Positionnement absolu */
  top: 1rem; 
  right: 1rem;
}
