<div class="center-container">
  <div class="button-container">
    <h1 style="font-weight: bold; font-size: 2.10rem; text-align: center;" class="game-name">{{"HOME.GAMENAME" |
      translate}}</h1>
    <mat-form-field style="border-color: green!important;">
      <mat-select style="text-align: center;" [(value)]="selectedLanguage" (selectionChange)="onLanguageChange()">
        <mat-option value="fr">Français</mat-option>
        <mat-option value="en">English</mat-option>
        <mat-option value="es">Español</mat-option> <!-- Espagnol -->
        <mat-option value="de">Deutsch</mat-option> <!-- Allemand -->
        <mat-option value="ru">Русский</mat-option> <!-- Russe -->
        <mat-option value="ar">العربية</mat-option> <!-- Arabe -->
        <mat-option value="zh">中文</mat-option> <!-- Chinois -->
        <mat-option value="ja">日本語</mat-option> <!-- Japonais -->

      </mat-select>
    </mat-form-field>
    <button class="play-button" routerLink="/question" mat-raised-button
      style="background-color: green; color: white; height: 5rem; width: 10rem; font-size: 2rem;">{{"HOME.START" |
      translate}}</button>
  </div>
</div>