<div class="center-container">
  <div class="button-container">
    <h1 class="game-name">{{"HOME.GAMENAME" | translate}}</h1>
    <mat-form-field>
      <mat-select [(value)]="selectedLanguage" (selectionChange)="onLanguageChange()">
        <!-- Language options -->
        <mat-option *ngFor="let lang of languages" [value]="lang.code">
          {{ lang.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="play-button" routerLink="/question" mat-raised-button>
      {{"HOME.START" | translate}}
    </button>
  </div>
</div>
