:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.div-noire {
    background-color: black;
    flex: 0 0 40vh;
}

.question {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.2;
    padding: 2.5rem;
}

.response-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.625rem;
}

.response {
    cursor: pointer;
    padding: 1.25rem;
    line-height: 1.2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 0.0625rem solid #ddd;
    margin: 0.625rem;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .host {
        flex-direction: column;
    }

    .div-noire {
        flex: 0 0 20vh;
    }

    .question {
        font-size: 2rem;
        padding: 1.25rem;
    }

    .response {
        font-size: 1.5rem;
        padding: 0.625rem;
    }
}
