<div class="graph">
  <eco-graph></eco-graph>
</div>

<div *ngIf="questions.length > 0" class="question">
  {{ questions[currentQuestionIndex].Question }}
</div>

<div class="response-container" *ngIf="questions.length > 0">
  <div class="response-wrapper" *ngFor="let answer of [1,2,3]; let i = index">
    <mat-card class="response" [ngClass]="{'selected': selectedAnswer === i, 'small-font': isAnyAnswerSelected}" (click)="selectAnswer(i)">
      {{ questions[currentQuestionIndex]['Answer_' + answer] }}
    </mat-card>
    <mat-card class="explanation" *ngIf="isAnyAnswerSelected">
      {{ questions[currentQuestionIndex]['Explication_' + (i + 1)] }}
    </mat-card>
  </div>

  <!-- Bouton Suivant ou Terminer en fonction de la question en cours -->
  <button
    style="background-color: blue; color: white; font-size: 1.5rem;"
    mat-button
    *ngIf="isAnyAnswerSelected"
    (click)="nextQuestion()">
      {{ currentQuestionIndex === questions.length - 1 ? end : next }}
  </button>
</div>
