<div class="center-container">
  <div class="box">
    <div *ngIf="score <= 3">
      {{"END.END_VICTORY" | translate}}
    </div>
    <div *ngIf="score > 3 && score < 7 ">
      {{"END.END_MEDIUM" | translate}}
    </div>
    <div *ngIf="score >= 7">
      {{"END.GAME_OVER" | translate}}
    </div>
    <button  style="background-color: green;margin-top: 1rem; color: white; height: 5rem; width: 10rem; font-size: 2rem;" mat-raised-button color="primary" (click)="removeQuestions()" routerLink="/start">{{"END.RESTART" |
      translate}}</button>
  </div>
</div>