<div class="center-container">
  <div class="box">
    <div *ngIf="score === 0; else scoreNotzero" >
      <h1>Oh no!</h1>
      <h2>You didn't get any questions right.</h2>
      <h2>Try again!</h2>
    </div>
    <ng-template #scoreNotzero>
      <h1>Oh yes!</h1>
      <h2>You didn't get any questions right.</h2>
      <h2>Try again!</h2>
    </ng-template>
    <button mat-raised-button color="primary" (click)="removeIdQuestion()"  routerLink="/start">{{"END.RESTART" | translate}}</button>
  </div>
</div>





